<template>
  <div>
    <div class="container-fluid padding" id="1">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">lorem ipsum lorem .</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">lorem ipsum lorem ipsum lorem ipsum!
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
  </div>
</div>

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-code"></i>
      <h3>lorem 5</h3>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        <a :href="link" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" >Zum Produkt</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class="fas fa-bold"></i>
      <h3>lorem</h3>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        <a :href="link" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" >Zum Produkt</a>
    </div>
    <div class="col-sm-12 col-md-4">
      <i class="fab fa-css3"></i>
      <h3>lorem</h3>
      <p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
        <a :href="link" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" >Zum Produkt</a>
    </div>
  </div>
  <hr class="my-4">
</div>

  </div>
</template>

<style>

</style>
