<template>
  <div id="slides" class="carousel slide" data-ride="carousel" ref="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="@/assets/img/background.png">
        <div class="carousel-caption">
          <h1 class="display-2">Wilkommen</h1>
          <h3>Auf meiner Webseite</h3>
          <button type="button" class="btn btn-outline-light btn-lg">Mehr</button>
          <button type="button" class="btn btn-primary btn-lg">Erfahren</button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="@/assets/img/code.jpg">
      </div>
      <div class="carousel-item">
        <img src="@/assets/img/code2.jpg">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    mounted() {
      // eslint-disable-next-line
      $(this.$refs.carousel).carousel().on('slide.bs.carousel', () => console.log("slide"));
    },
    beforeDestory() {
      // eslint-disable-next-line
      $(this.$refs.carousel).carousel('dispose');
    }
  }
</script>
