<template>

<button onclick="myFunction()">click</button>


</template>

<style>
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}


.dark-mode {
  background-color: black;
  color: white;
}

</style>


<script>

function myFunction() {
  var element = document.body;
  element.classList.toggle("dark-mode");
}

</script>
