<template>
  <div >
    <div class="container-fluid padding" id="2">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>Dienstleistungen</h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
      <br>
      <a href="#" class="btn btn-primary">mehr Erfahren</a>
    </div>
    <div class="col-lg-6">
      <img src="@/assets/img//desk.png" class="img-fluid">
    </div>
  </div>
</div>
<hr class="my-4">
  </div>
</template>
