<template>
<div id="4">

    <section>
      <div class="container">
        <form action="https://formspree.io/f/xpzkkrwv" method="POST" id="my-form">

          <div class="form-group">
            <label for="firstName"> First Name</label>
            <input type="text" id="firstName" name="firstName" required>
          </div>

          <div class="form-group">
            <label for="lastName"> Last Name</label>
            <input type="text" id="lastName" name="lastName" required>
          </div>

          <div class="form-group">
            <label for="email"> Email</label>
            <input type="email" id="email" name="email" required>
          </div>

          <div class="form-group">
            <label for="massage"> Massage</label>
            <textarea name="massage" id="massage" rows="5" cols="15" required></textarea>
          </div>

          <button type="submit">Submit</button>

        </form>
      </div>
      <div id="status"></div>

    </section>

</div>
</template>



<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

/* section {
  height: 100vh;
  width: auto;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}  */

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20 #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}

button[type="submit"]:active {
  transform: scale(0.98);
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: #4bb544;
  animation: status 4s ease forwards;
}

#status.error {
  background-color: #cc3333;
  color: white;
  animation: status 4s ease forwards;
}

@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }

  90% {
    opacity: 1;
    pointer-events: all;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}
</style>

<!--
<script>
var form = document.getElementById("my-form");

async function handleSubmit(event) {
  event.preventDefault();
  var status = document.getElementById("status");
  var data = new FormData(event.target);
  fetch(event.target.action, {
    method: form.method,
    body: data,
    headers: {
      'Accept': 'application/json'
    }
  }).then(response => {
    status.innerHTML = "Thanks for your submission!";
    form.reset()
    status.classList.add('success');
  }).catch(error => {
    status.innerHTML = "Oops! There was a problem submitting your form"
    status.classList.add('error');
  });
}
form.addEventListener("submit", handleSubmit)
</script> -->
