<template>
  <footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="../assets/img/ZS.png">
        <hr class="light">
        <p>066499142812</p>
        <p>zohor-saidfirouz@outlook.com</p>
        <p>Hofherrgasse 5-13</p>
        <p>1100 Wien</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Öffnungszeiten</h5>
        <hr class="light">
        <p>Montag: 9 Uhr - 20 Uhr</p>
        <p> Samstag: 10 Uhr - 20 Uhr</p>
        <p>Sonntag: Geschlossen</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Standorte</h5>
        <hr class="light">
        <p>Praterstern</p>
        <p>Reumannplatz</p>
        <p>Gumpendorferstraße</p>
        <p>Handelskai</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Zoro Said</h5>
      </div>

    </div>
  </div>
</footer>
</template>
