<template>
  <div class="container">
    <form class="form" id="login">
      <h1 class="form__title">Login</h1>
      <div class="form__message form__message--error"></div>
      <div class="form__input-group">
        <input v-model="email" type="email" class="form__input" required autofocus placeholder="E-Mail">
        <div class="form__input-error-message"></div>
      </div>

      <div class="form__input-group">
        <input type="password"  v-model="password" class="form__input" autofocus placeholder="Password">
        <div class="form__input-error-message"></div>
      </div>

      <button class="form__button" @click='login' type="submit">Continue</button>

      <p class="form__text">
        <a href="#" class="form__link">Forgot your password?</a>
      </p>
      <p class="form__text">
       <router-link to="/registrierung" class="form__link" id="linkCreateAccount">Don't have an account? Create account</router-link>
       </p>
    </form>
  </div>
  </template>

<script>
export default {
  name: 'Login',
  data: () => ({
    email: "",
    password: "",
  }),

  methods: {
    async login(){
      console.log('frontend login');
      await this.$store.dispatch('loginUser',{
        email: this.email,
        password: this.password
      })
      this.$router.push("/")
    }
  }
}
</script>


  <style>
  body {
    --color-primary: #009575;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    /* margin: 0; */
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 18px;
    /* background: url('img/Login.jpeg'); */
    /* background-size: cover; */
    opacity: 0.9;
  }

  .container {
    width: 400px;
    max-width: 400px;
    /* margin: 1rem; */
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
  }

  .container, .form__input, .form__button {
    font: 500 1rem 'Quicksand', sans-serif;
  }

  /* .form--hidden {
    display: none;
  } */

  /* .form>*:first-child {
    margin-top: 0;
  } */

  .form>*:last-child {
    margin-bottom: 0;
  }


  .form__message {
    text-align: center;
    margin-bottom: 1rem;
  }

  .form__message--success {
    color: var(--color-success);
  }

  .form__message--error {
    color: var(--color-error);
  }

  .form__input-group {
    margin-bottom: 1rem;
  }

  .form__input {
    /* display: block; */
    width: 100%;
    padding: 0.80rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1.5px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
  }

  .form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
  }

  .form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
  }

  .form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
  }

  .form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
  }

  .form__button:hover {
    background: var(--color-primary-dark);
  }

  .form__button:active {
    transform: scale(0.98);
  }

  .form__text {
    text-align: center;
  }

  .form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
  }

  .form__link:hover {
    text-decoration: underline;
  }
  </style>
