<template >
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <!--Logo-->
    <a href="/" class="navbar-brand"><img src="../assets/img/ZS.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <!-- <a nohref class="nav-link" onclick="MyFunction('slides');">Home</a> -->
          <!-- <router-link to="/" class="nav-link">Home</router-link> -->
            <a nohref class="nav-link" v-on:click="scrollTo('slides');">Home</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" nohref onclick="MyFunction(1);">About</a> -->
          <!-- <router-link to="/" class="nav-link">About</router-link> -->
          <a nohref class="nav-link" v-on:click="scrollTo(1);">About</a>
        </li>
        <li class="nav-item">
            <!-- <router-link to="/" class="nav-link">Services</router-link> -->
          <!-- <a nohref class="nav-link" onclick="MyFunction(2);">Services</a> -->
            <a nohref class="nav-link" v-on:click="scrollTo(2);">Services</a>
        </li>
        <li class="nav-item">
            <!-- <router-link to="/" class="nav-link">Team</router-link> -->
          <a nohref class="nav-link" v-on:click="scrollTo(3);">Team</a>
          <!-- <div class="nav-link" v-on:click="MyFunction(3);">Team</div> -->
        </li>
        <li class="nav-item">
            <!-- <router-link to="/" class="nav-link">Connect</router-link> -->
          <!-- <a nohref class="nav-link"  onclick="MyFunction(4);">Connect</a> -->
            <a nohref class="nav-link" v-on:click="scrollTo(4);">Connect</a>
        </li>
        <li v-if="!isLogedin" class="nav-item">
            <router-link to="/login" class="nav-link">Login</router-link>
          <!-- <a nohref class="nav-link"  onclick="MyFunction(4);">Connect</a> -->
            <!-- <a nohref class="nav-link" v-on:click="scrollTo(3);">Team</a> -->
        </li>
        <li v-if="isLogedin" class="nav-item">
          <div id="logout" @click="logoutUser" class="nav-link">Logout</div>
        </li>
        <li class="nav-item">
            <router-link to="/webShop" class="nav-link">WebShop</router-link>
          <!-- <a nohref class="nav-link"  onclick="MyFunction(4);">Connect</a> -->
        </li>
        <li class="nav-item">
            <router-link to="/warenkorb" class="nav-link">Warenkorb</router-link>
          <!-- <a nohref class="nav-link"  onclick="MyFunction(4);">Connect</a> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>

<style scoped>
  .navbar{
    margin-bottom: 5%;

  }
  a:hover{
  cursor: pointer;

}

#logout{
  cursor: pointer;
}
</style>

<script>
export default{
methods: {
  scrollTo(id) {
    var elmnt = document.getElementById(id);
    elmnt.scrollIntoView({behavior: "smooth"});
  },
    logoutUser(){
      console.log("seas logout");
      return this.$store.dispatch("logoutUser");
    }
},
  computed: {
    isLogedin(){
      return !!this.$store.state.currentUser;
    }
  }
}



// var container = this.$el.querySelector("id");
// container.scrollTop = container.scrollHeight;
</script>
