<template>
  <div class="card">
    <img :src="imgsource" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text">{{description}}</p>
      <a :href="link" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal" >In den Warenkorb</a>
    </div>
  </div>
</template>

<script>
  export default{
    props: {
      name: String,
      description: String,
      img: String,
      link: String
    },
    computed:{
      imgsource(){
        return require("../assets/img/" + this.img)
      }
    }
  }
</script>
<style scoped>
  .card{
    margin-bottom: 5%;
  }
</style>
