<template>
<div >
  <div id="3" class="container-fluid padding mt-5" >
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Produkte</h1>
      </div>
    </div>
  </div>
  <!--- Cards -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-4">
        <PrductCard name="Rito Suchtlaaa" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team1.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Sebo Abzzzt" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team2.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Har9 RoCker" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team3.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Rito Suchtlaaa" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team1.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Sebo Abzzzt" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team2.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Har9 RoCker" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team3.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Rito Suchtlaaa" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team1.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Sebo Abzzzt" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team2.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Har9 RoCker" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team3.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Rito Suchtlaaa" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team1.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Sebo Abzzzt" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team2.png" link="/login" />
      </div>
      <div class="col-md-4">
        <PrductCard name="Har9 RoCker" description="lorem ipsum lorem ipsum lorem ipsum lorem ipsum" img="team3.png" link="/login" />
      </div>
    </div>
  </div>
</div>
</template>


<script>
import PrductCard from './PrductCard.vue'

export default {
  components: {
    PrductCard
  }
}
</script>
