<template>
  <div class="container">
  <form class="form form--hidden" id="createAccount">
    <h1 class="form__title">Create Account</h1>
    <div class="form__message form__message--error"></div>

    <div class="form__input-group">
      <input type="text" v-model="username" id="signupUsername" class="form__input" autofocus placeholder="Username">
      <div class="form__input-error-message"></div>
    </div>

    <div class="form__input-group">
      <input type="text"  v-model="email" class="form__input" autofocus placeholder="E-Mail Address">
      <div class="form__input-error-message"></div>
    </div>

    <div class="form__input-group">
      <input type="password"  v-model="password" class="form__input" autofocus placeholder="Password">
      <div class="form__input-error-message"></div>
    </div>
    <div class="form__input-group">
      <input type="password"  v-model="confirmPassword" class="form__input" autofocus placeholder="Confirm password">
      <div class="form__input-error-message"></div>
    </div>

    <button class="form__button" @click='register' type="submit">Continue</button>


    <p class="form__text">
      <router-link to="/login" class="form__link" id="linkLogin">Already have an account? Sign in</router-link>
    </p>
  </form>
    </div>
</template>

<script>

export default {
  data () {
    return{
      username: "",
      email: "",
      password: "",
      confirmPassword: ""
    }
  },
  methods: {
    async register(){
      await this.$store.dispatch('registerUser',{
        username: this.username,
        email: this.email,
        password: this.password
      })
    }
  },
}



</script>
