<template>
  <div>
      <div class="container-fluid padding" >
        <div class="row text-center padding">
          <div class="col-12">
            <h2>Social Media</h2>
          </div>
          <div class="col-12 social padding">
            <a href="https://www.facebook.com"><i class="fab fa-facebook mr-2"></i></a>
            <a href="https://twitter.com/?lang=de"><i class="fab fa-twitter mr-2"></i></a>
            <a href="https://myaccount.google.com/profile"><i class="fab fa-google-plus-g mr-2"></i></a>
            <a href="https://www.instagram.com/zorro_said_/"><i class="fab fa-instagram mr-2"></i></a>
          </div>
        </div>
    </div>
  </div>
</template>
