<template>
  <div>
    <figure>
      <div class="fixed-wrap">
        <div id="fixed">

        </div>
      </div>
    </figure>
  </div>
</template>


<style>
#fixed {
  background-image: url('../assets/img/mac.png');
  background-attachment: fixed;
  display: block;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  /* aspect-ratio: 1.33333; */
  height: 400px;
  background-size: cover;
  background-position: center center;

}
</style>
