 <template>
  <div id="app" :class="appClass">
    <div id="nav">
      <Navbar/>
    </div>

    <router-view/>
    <button class="btn btn-primary" @click="toggleDarkMode">Toggle</button>
    <Footer/>
  </div>
</template>




<script>
  import Navbar from '@/components/Navbar.vue'
  import Footer from '@/components/Footer.vue'
  export default{
    data() {
      return {
        appClass: ''
      }
    },
    components: {
      Navbar,
      Footer

    },
    methods: {
      toggleDarkMode() {
        if(this.appClass === '') {
          this.appClass = 'darkMode'
        } else {
          this.appClass = ''
        }
      }
    }
  }

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  background: var(--light);
  color: var(--dark);
}

/* @media screen and (prefers-color-scheme: dark) {
  :root {

  }
} */

#app.darkMode {
  --light: #2c2c2c;
  --dark: #fff;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #E1306C;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover {
  color: #d5d5d5;
}
/*
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-right: 2rem;
} */

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/* footer a {
  color: #d5d5d5
} */

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.display-4{
  font-size: 200%;
}


</style>
