<template>
  <div class="home">
    <Carousel/><br>



  <About />

  <Dienstleistung />

    <Team />

    <Stickyimg />



    <Feedback />

        <SocialMedia />



    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'
import Carousel from '@/components/Carousel.vue'
import Team from '@/components/Team.vue'
import Stickyimg from '@/components/Stickyimg.vue'
import Feedback from '@/components/Feedback.vue'
import SocialMedia from '@/components/SocialMedia.vue'
import About from '@/components/About.vue'
import Dienstleistung from '@/components/Dienstleistung.vue'


export default {
  name: 'Home',
  data: () => ({
    message: ""
  }),
  components: {
    //HelloWorld,
    Carousel,
    Dienstleistung,
    Team,
    About,
    Stickyimg,
    SocialMedia,
    Feedback
  }
}
</script>

<style>

</style>
