<template>
  <div class="LoginSeite">

    <Login/>

  </div>
</template>

<script>
// @ is an alias to /src

import Login from '@/components/Login.vue'

export default {
  name: 'LoginSeite',
  components: {
    Login
  }
}
</script>
