<template>
  <div class="RegistrierungSeite">

    <Registrierung/>

  </div>
</template>

<script>
// @ is an alias to /src

import Registrierung from '@/components/Registrierung.vue'

export default {
  name: 'RegistrierungSeite',
  components: {
    Registrierung

  }
}
</script>
