<template>
  <div class="WebShop">

    <Product/>

  </div>
</template>

<script>
// @ is an alias to /src

import Product from '@/components/Product.vue'

export default {
  name: 'WebShop',
  components: {
    Product

  }
}
</script>
